# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Python
*.pyc

# IDE files
.idea/*

# Node Modules
no_zero_days/static/node_modules/*

# JS distribution
no_zero_days/static/dist/*